@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

input[type="search"] {
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
}

body::-webkit-scrollbar {
  display: none;
}
